.header {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.logo {
}

.header-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
  background: linear-gradient(to right, rgb(182 68 255), rgb(220 62 253));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.header-contain p {
  color: rgb(84 94 110);
}
